<div class="table-responsive-md">
<div class="col-xs-12">
  <a mat-flat-button color="success" routerLink="/admintype">Add Admin Type</a>
</div>
</div>
<hr>  
 <mat-form-field appearance="standard">
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="type name" #input>
</mat-form-field>

<div class="mat-elevation-z8">
  <!-- <table mat-table [dataSource]="dataSource" matSort> -->
    <mat-table #table [dataSource]="dataSource" matSort class="table-items">

    <!-- ID Column -->
    <ng-container matColumnDef="Id">
      <mat-header-cell *matHeaderCellDef mat-sort-header> ID  </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.Id}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="TypeName">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Type Name </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.TypeName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="IsActive">
      <mat-header-cell *matHeaderCellDef mat-sort-header> IsActive </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.IsActive}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="update">
      <mat-header-cell *matHeaderCellDef> Update </mat-header-cell>
      <mat-cell *matCellDef="let row">
          <a [routerLink]="['/admintype/',row.Id]"> <i class="fas fa-edit fa-2x"></i></a>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="delete">
        <mat-header-cell *matHeaderCellDef> Delete </mat-header-cell>
        <mat-cell *matCellDef="let row">          
           <a [routerLink]="" (click)="delete(row.Id)"><i class="fas fa-trash-alt  fa-2x" style="color:red"></i></a> 
        </mat-cell>
    </ng-container>


    <!-- <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr> -->

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

    <!-- Row shown when there is no matching data. -->
    <mat-row *matNoDataRow>
      <mat-cell colspan="4">No data matching the filter "{{input.value}}"</mat-cell>
    </mat-row>
  <!-- </table> -->
</mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
</div>

<!-- <div class="row"> 
 
<table class="table table-striped">
    <thead>
        <tr>
            <th>Admin Type Id</th>
            <th>Admin Type</th>
            <th>IsActive</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let dataitem of AdminTypeList">
            <td>{{dataitem.Id}}</td>
            <td>{{dataitem.TypeName}}</td>
            <td>{{dataitem.IsActive}}</td>
            <td>
            --><!-- <button type="button" class="btn btn-secondary mr-1" 
                data-bs-toggle="modal" data-bs-target="#sbAdminType"
                (click)="editAdminType(dataitem)"> -->
                <!-- <a [routerLink]="['/newadmintype']" [state]=dataitem> <i class="fas fa-edit"></i></a>
                -->
              <!-- </button> -->
               <!-- &nbsp;
                <button type="button" class="btn btn-danger mr-1"><i class="fas fa-trash-alt"></i></button>
            </td>
        </tr>
    </tbody>    
</table>
</div>
 -->

